# Zig build artifacts
zig-out/
zig-cache/
.zig-cache/
.gitmodules
chaos_test.sh



# IDE
.vscode/
.idea/
.DS_Store
.agents/
.claude/
.expert/
.superpowers/
docs/

# Docker

emitter/
examples/
int-test/
libzb/
nats-data/
notes/
postgres-data/
proxy/
scripts/
spike/
telemetry/
web-consumer/
z-tests/
zb-client-ts/
src/test_files/
src/proto/
scripts/
.lexical/
*.patch
LICENSE
*.md
*.tar.gz
.dockerignore
.env.example
*.yml
/demo/
