-- init.sql.template
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = '${POSTGRES_BRIDGE_USER}') THEN
        CREATE USER ${POSTGRES_BRIDGE_USER} WITH PASSWORD '${POSTGRES_BRIDGE_PASSWORD}';
        ALTER USER ${POSTGRES_BRIDGE_USER} WITH REPLICATION;
    END IF;
END;
$$;

GRANT CONNECT ON DATABASE ${TARGET_DB} TO ${POSTGRES_BRIDGE_USER};

GRANT USAGE ON SCHEMA public TO ${POSTGRES_BRIDGE_USER};


DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_publication WHERE pubname = '${BRIDGE_CDC_PUBLICATION}') THEN
        CREATE PUBLICATION ${BRIDGE_CDC_PUBLICATION};
    END IF;
END;
$$;
