global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:8090

    # -------------------------------------------------------------------------
    # Path Matchers
    # -------------------------------------------------------------------------
    # Route bridge endpoints
    acl is_bridge path_beg /status /enroll /metrics

    use_backend bk_bridge if is_bridge
    default_backend bk_prometheus

# -------------------------------------------------------------------------
# Backends
# -------------------------------------------------------------------------
backend bk_bridge
    # Passes request line & query params unchanged
    server bridge bridge:27434

backend bk_prometheus
    # Handles Prometheus web UI, query engine, and /api/v1/* for remote Grafana
    server prometheus prometheus:9090

